<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Notifications</title>
</head>

<body>
  <h1>Notifications</h1>
  <ul id="notifications-list"></ul>
  <script>
    function fetchData() {
      fetch('http://127.0.0.1:5000/notifications')
        .then(response => response.json())
        .then(data => {
          const notificationsList = document.getElementById('notifications-list');
          notificationsList.innerHTML = '';
          data.forEach(notification => {
            const li = document.createElement('li');
            li.innerText = notification.name;
            notificationsList.appendChild(li);
          });
        });
    }

    fetchData();
    setInterval(fetchData, 5000); // fetch data every 5 seconds


  </script>
</body>

</html>